.Navbar {
    background-color: rgb(47, 47, 47);
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.Navbar a {
    font-size: 1.5rem;
    color: rgb(135, 135, 135);
    margin: 1.5rem;
    text-decoration: none;
}

.Navbar a.active{
    color: white;
}